django==3.2.16
babel==2.10.3
graphene-django==2.7.0
django-prices
django-filter
django-graphql-jwt
cryptography
django-phonenumber-field
mysql-connector-python
django-mysql==4.7.1
mysqlclient
rave
redis
django-prices
django-countries
psycopg2
gunicorn
dj-database-url
celery~=5.2.7
graphene==2.1.9
graphql-relay==2.0.1
uvicorn~=0.19.0
Cython
graphql-core==2.3.2
graphql-relay
pytimeparse~=1.1.8
opentracing~=2.4.0
PyJWT~=2.6.0
asgiref~=3.5.2
phonenumbers
google-i18n-address==2.5.2
prices
django-measurement==3.2.4
measurement==3.2.0
urllib3==1.26.12
pyparsing==2.0.3
promise==2.3.0

